:root {
  --background-color: #121212;
  --background-light: #2c2c2c;
  --shadow-color: rgba(28, 28, 28, 0.2);
  --primary-color: #00aaaa;
  --secondary-colo: #00aa00;
  --text-color: #fff;
  --text-light: #888888;
  --font-size: 20px;
  --animation-speed: 1;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex{
  display: flex;
}
.column{
  flex-direction:column;
}
.round{
  border-radius: 2rem;
}
