.item-container{
    width:100%;
    padding: 1rem 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-container > .flex{
    gap:1rem;
}
.item-container > .flex > .column{
    gap: 0.5rem;
    max-height: 72px;
    width: 70%;
    overflow: hidden;
}
.sub-text, .time-ago {
    font-size: 1.1rem;
    color: var(--text-light);
}
.sub-text{
    max-width: 100%;
    height: 36%;
    overflow: hidden;
}
.time-ago{
    min-width: 20%;
}
.item-container > .flex > .img{
    flex-shrink: 0;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 72px;
    width: 72px;
}
.title{
    font-size: 1.5rem;
    color: var(--text-color);
}
.title, .sub-text{
    cursor: pointer;
}
